.link-item {
  padding: 0.75rem;
  border-radius: 0.375rem;
  width: 95%;
  max-width: 824px;
  margin: 1rem auto;
  box-shadow: 2px 2px 8px 0 rgba(46, 61, 73, 0.2);

  display: flex;
}

.link-item .title {
  text-decoration: none;
  color: #333;
}

.link-item .score {
  min-width: 2.75rem;
  color: var(--primary-color);
  font-weight: bold;
}

.link-item .domain {
  font-size: 0.8rem;
  color: #666;
  margin-left: 0.25rem;
}

.link-item .metadata {
  font-size: 0.8rem;
  margin-top: 0.25rem;
}

.link-item .metadata a {
  color: blueviolet;
  text-decoration: none;
}

.link-item .metadata a:hover {
  text-decoration: underline;
}
