.top-header {
  background-color: var(--primary-color);
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.top-nav {
  max-width: 800px;
  margin: 0 auto;
  padding: 0.8rem 0.25rem;
}

.top-nav__links {
  display: flex;
  flex-wrap: wrap;
}

.top-nav__links img {
  width: 1.5rem;
}

.top-nav__links a {
  text-decoration: none;
  color: white;
  padding: 0.5rem;
}

.top-nav__links .active {
  font-weight: 700;
}

@media (min-width: 768px) {
  .top-nav__links li {
    margin-right: 1.25rem;
  }
}
