:root {
  --primary-color: #f4751e;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  line-height: 1.5;
}

body {
  margin: 0;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}

main.content {
  padding-top: 5rem;
}
